* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width: 800px) {
    body {
        background-color: #000000;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../imagens/fundoComMargem.jpg");
    }
    .caixaGeral {
        width: 1000px;
        margin: auto;
        background-color: white;
        margin-top: 50px;
    }
    .slider {
        display: block;
        height: 430px;
        width: 750px;
        position: relative;
        margin: auto;
    }
    .slider li {
        list-style: none;
        position: absolute;
    }
    .slider img {
        height: 430px;
        width: 750px;
    }
    .slider input {
        display: none;
    }
    .slider label {
        background-color: white;
        border: solid 3px black;
        bottom: 20px;
        cursor: pointer;
        display: block;
        height: 12px;
        position: absolute;
        width: 12px;
        z-index: 10;
    }
    .slider label:hover {
        background-color: black;
    }
    .slider label:visited {
        background-color: black;
    }
    .slider li:nth-child(1) label {
        left: 30px;
    }
    .slider li:nth-child(2) label {
        left: 80px;
    }
    .slider li:nth-child(3) label {
        left: 130px;
    }
    .slider img {
        opacity: 0;
        visibility: hidden;
    }
    .slider li input:checked~label {
        background-color: black;
    }
    .slider li input:checked~img {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
    .basico :nth-child(2) img {
        float: left;
        margin: auto;
        background-image: linear-gradient( to right, red, transparent, #0000ff);
        transition: all 1s;
        padding: 10px;
        border-radius: 10px;
    }
    header {
        background-color: black;
    }
    header ul {
        background-color: black;
        list-style: none;
        text-align: center;
        padding: 10px;
        margin: 0px;
    }
    header ul li {
        display: inline;
    }
    header ul li a {
        text-decoration: none;
        color: white;
        padding: 10px;
        transition: all 0.8s;
        font-size: 15px;
        font-weight: bold;
    }
    header ul li a:hover {
        color: black;
        background-color: white;
    }
    input {
        display: none;
        background-color: transparent;
        border: none !important;
        color: transparent
    }
}

@media only screen and (max-width: 800px) {
    .slider input {
        display: none;
        background-color: transparent;
        border: none !important;
    }
}

@media screen and (max-width: 800px) {
    header .control-nav {
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid rgb(110, 110, 110);
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }
    header .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: rgb(110, 110, 110);
    }
    header .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0, 0, 0, 0.4);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        border-left: 1px solid #ccc;
        background: black;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    header ul li {
        padding: 10px 5px 10px 5px;
    }
    header ul li a {
        text-decoration: none;
        color: white;
        padding: 8px;
        transition: all 0.8s;
        font-size: 15px;
        font-weight: bold;
    }
    header ul li a:hover {
        background-color: white;
        color: black;
    }
    #control-nav:checked~.control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    #control-nav:checked~nav {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@media only screen and (min-width: 800px) {
    h3 {
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        color: rgb(255, 94, 0);
        padding: 20px;
        text-shadow: -2px -2px white, 2px 2px #333;
        transition: all 0.8s;
    }
    h3:hover {
        text-shadow: 2px 2px white, -2px -2px #444;
        letter-spacing: 5px;
        color: rgb(255, 0, 0);
    }
}

@media only screen and (max-width: 799px) {
    h3 {
        animation-name: pisca;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        color: rgb(255, 94, 0);
        padding: 20px;
        text-shadow: -2px -2px white, 2px 2px #333;
    }
    @keyframes pisca {
        0% {
            color: red;
        }
        25% {
            color: rgb(255, 251, 0);
        }
        50% {
            color: rgb(0, 172, 0);
        }
        75% {
            color: rgb(0, 38, 255);
        }
        100% {
            color: rgb(253, 4, 178);
        }
    }
}

p {
    color: rgb(54, 54, 54);
    font-size: 15px;
    line-height: 25px;
    margin: 10px 20px 5px 20px;
    text-indent: 25px;
    text-align: justify;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gif {
    width: 250px;
}

footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.cards {
    width: 230px;
    height: 230px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.cards:hover {
    opacity: 0.9;
    transition: 0.5s;
}

.opaco {
    filter: grayscale(100%);
}

.opaco:hover {
    filter: grayscale(0%);
    transition: 1s;
}

.compras {
    background-image: linear-gradient( to right, #0004f1b4, transparent, #f18f0d);
}

.competicao {
    background-image: linear-gradient( to right, rgb(255, 0, 0), transparent, rgb(20, 1, 1));
}

.galeria {
    background-image: linear-gradient( to right, rgb(241, 218, 10), transparent, purple);
}

.oficina {
    background-image: linear-gradient( to right, black, transparent, grey);
}

.subLinha {
    color: #ffffffa8;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin: 15px;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.subLinha:hover {
    color: rgb(53, 53, 53);
    transition: 1;
}

.frame {
    width: 100%;
    height: 450px;
    margin: auto;
    display: block;
}

section:nth-child(odd) {
    background-image: linear-gradient( to right, #cccc, transparent, #cccc);
}

section:nth-child(even) {
    background: white;
}

.motor {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 30px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: rgb(102, 102, 102) 0.1em 0.1em 0.2em;
    color: white;
    text-align: center;
    text-transform: uppercase
}

.atual {
    background-color: rgb(102, 102, 102);
}

input[type=submit] {
    background-image: url('imagens/menu.jpg');
    text-indent: -9999px;
    width: 109px;
    height: 41px;
}

.membro {
    font-family: 'Alfa Slab One', cursive;
}

.span {
    font-size: 8px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

.botao {
    width: 140px;
    height: auto;
    margin-bottom: 0px;
}

.botao:hover {
    opacity: 0.1;
}

input {
    display: none;
    background-color: transparent;
    border: none !important;
}

.icons {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.icons:hover {
    opacity: 0.4;
}

.topo {
    float: right;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 1080px) {
    .fotosDiv {
        width: 80%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .fotosDiv img {
        width: 100%;
        height: 400px;
        padding: 5px;
    }
}

@media only screen and (min-width: 1080px) {
    .fotosDiv img {
        width: 100%;
        height: 220px;
        padding: 5px;
        margin: auto;
    }
    .fotosDiv {
        width: 80%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media only screen and (min-width: 800px) {
    h1 {
        animation-name: deslisa;
        animation-duration: 4s;
        position: relative;
        left: 380px;
        top: 5px;
        animation-duration: 8s;
        color: rgb(255, 217, 0);
        bottom: 30px;
        padding: 10px;
        font-size: 40px;
        text-shadow: -2px -2px white, 2px 2px #333;
    }
    @keyframes deslisa {
        0% {
            color: red;
            left: 0px;
            font-size: 10px;
        }
        25% {
            left: 790px;
        }
        50% {
            left: 200px;
        }
        75% {
            left: 600px;
        }
        100% {
            left: 380px;
        }
    }
}

@media only screen and (max-width: 799px) {
    h1 {
        animation-name: roda;
        animation-duration: 4s;
        color: rgb(255, 217, 0);
        padding: 10px;
        font-size: 35px;
        text-shadow: -2px -2px white, 2px 2px #333;
        text-align: center;
        transform-origin: center;
        transition-delay: -2s;
    }
    @keyframes roda {
        0% {
            transform: rotate(0deg);
            font-size: 5px;
            color: rgb(255, 0, 0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.atencao {
    text-shadow: bold;
    color: blue;
}